## References
[datacamp](https://www.datacamp.com/community/tutorials/mysql-python/) 

[w3schools.com](https://w3schools.com/)

Import module `mysql.connector`

In [1]:
import mysql.connector as mysql

## Create Connection to Database
- Use username and password from MySQL Database

In [3]:
db_obj = mysql.connect (
    host = "localhost",
    user = "root",
    password = "password"
)

print(db_obj)

<mysql.connector.connection.MySQLConnection object at 0x058978F8>

## Cursor
- Allows the rows of a query result to be accessed one at a time.
- Must be declared and opened before use.
- Must be closed to deativate it after it is no longer required.
- Updating rows through a cursor

## .cursor()
- Creating an instance of `cursor` class which is used to execute the `SQL` statements in `Python`

In [4]:
cursor = db_obj.cursor()

## .execute()
- Creating a database called `uhd_db_project`
- `execute()` method is used to *compile* a `SQL` statement

In [5]:
cursor.execute("CREATE DATABASE uhd_db_test")

## .fetchall() method
- returns a list of all databases present

In [13]:
cursor.execute("SHOW DATABASES")

databases = cursor.fetchall()

## Show one by one database

In [14]:
for database in databases:
    print(database)

('cr_debug',)
('database_project',)
('information_schema',)
('mysql',)
('performance_schema',)
('rate_my_professor',)
('sakila',)
('sys',)
('uhd',)
('uhd_db_project',)
('uhd_db_test',)
('world',)

## Creating Tables
- Select database

In [15]:
db = mysql.connect (
    host = "localhost",
    user = "root",
    password = "password",
    database = "uhd_db_test"
)

```MySQL
CREATE TABLE faculty (
	staff_id int AUTO_INCREMENT,
    # attributes
    fName varchar(50) NOT NULL,
    lName varchar(50) NOT NULL,
    # references
    info_id int,
    profile_id int,
    department_id int,
    college_id int,
    course_id int,
    # unique key(s)
    CONSTRAINT UC_staff_member UNIQUE(staff_id, fName, lName),
    # foreign key(s)
    FOREIGN KEY(info_id) REFERENCES staff_info(info_id),
    FOREIGN KEY(profile_id) REFERENCES staff_profile(profile_id),
    FOREIGN KEY(department_id) REFERENCES departments(department_id),
    FOREIGN KEY(college_id) REFERENCES colleges(college_id),
    # primary key
    PRIMARY KEY(staff_id)
);
```

In [16]:
cursor = db.cursor()

In [17]:
cursor.execute("CREATE TABLE faculty (staff_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(staff_id))")

In [18]:
cursor.execute("ALTER TABLE faculty ADD fName VARCHAR(50) NOT NULL, ADD lName VARCHAR(50) NOT NULL")

In [19]:
cursor.execute("ALTER TABLE faculty ADD info_id int, ADD profile_id int, ADD department_id int")

In [ ]:
cursor.execute("ALTER TABLE faculty ADD college_id int, ADD department_id int")

In [23]:
cursor.execute("ALTER TABLE faculty ADD course_id int")

## Adding Foreign Keys

In [24]:
# getting all the tables which are present in database

cursor.execute("SHOW TABLES")

# returns list of tables present in the database

tables = cursor.fetchall()

In [25]:
for table in tables:
    print(table)

('faculty',)

In [29]:
cursor.execute("SHOW COLUMNS FROM faculty IN uhd_db_project")

columns = cursor.fetchall()

In [30]:
for attribute in columns:
    print(attribute)

('staff_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('fName', b'varchar(50)', 'NO', '', None, '')
('lName', b'varchar(50)', 'NO', '', None, '')
('info_id', b'int', 'YES', '', None, '')
('profile_id', b'int', 'YES', '', None, '')
('department_id', b'int', 'YES', '', None, '')
('course_id', b'int', 'YES', '', None, '')

In [36]:
cursor.execute("ALTER TABLE faculty ADD CONSTRAINT UC_staff_member UNIQUE(staff_id,fName,lName);")

In [38]:
cursor.execute("SHOW COLUMNS FROM faculty IN uhd_db_project")

columns = cursor.fetchall()

In [40]:
for column in columns:
    print(column)

('staff_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('fName', b'varchar(50)', 'NO', '', None, '')
('lName', b'varchar(50)', 'NO', '', None, '')
('info_id', b'int', 'YES', '', None, '')
('profile_id', b'int', 'YES', '', None, '')
('department_id', b'int', 'YES', '', None, '')
('course_id', b'int', 'YES', '', None, '')

```MySQL
CREATE TABLE colleges (
	college_id int AUTO_INCREMENT,
    # attributes
    college_name varchar(255) NOT NULL,
    # primary key
    PRIMARY KEY(college_id)
);
```

In [41]:
cursor.execute("CREATE TABLE colleges (college_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(college_id));")

In [46]:
cursor.execute("ALTER TABLE faculty ADD college_name VARCHAR(255) NOT NULL")

In [51]:
cursor.execute("ALTER TABLE faculty DROP college_name;") # mistake

In [52]:
cursor.execute("SHOW COLUMNS FROM colleges in uhd_db_project")

columns = cursor.fetchall()

In [53]:
for column in columns:
    print(column)

('college_id', b'int', 'NO', 'PRI', None, 'auto_increment')

In [54]:
cursor.execute("ALTER TABLE colleges ADD college_name VARCHAR(255) NOT NULL")

In [55]:
cursor.execute("SHOW COLUMNS FROM colleges IN uhd_db_project")

columns = cursor.fetchall()

In [56]:
for column in columns:
    print(column)

('college_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('college_name', b'varchar(255)', 'NO', '', None, '')

```MySQL
CREATE TABLE departments (
	department_id int AUTO_INCREMENT,
    # attributes
    department_name varchar(255) NOT NULL,
    # references
    college_id int,
    # foreign key
    FOREIGN KEY(college_id) REFERENCES colleges(college_id),
    # primary key
    PRIMARY KEY(department_id)
)
```

In [57]:
cursor.execute("CREATE TABLE departments (department_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(department_id))")

In [58]:
cursor.execute("ALTER TABLE departments ADD deparment_name VARCHAR(255) NOT NULL")

In [59]:
cursor.execute("ALTER TABLE departments ADD college_id INT")

## Adding Foreign Key

In [60]:
cursor.execute("ALTER TABLE departments ADD CONSTRAINT FOREIGN KEY(college_id) REFERENCES colleges(college_id)")

In [64]:
cursor.execute("SHOW COLUMNS FROM departments IN uhd_db_project")

columns = cursor.fetchall()

In [62]:
for column in columns:
    print(column)

('department_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('deparment_name', b'varchar(255)', 'NO', '', None, '')
('college_id', b'int', 'YES', 'MUL', None, '')

```MySQL
CREATE TABLE courses (
	course_id int AUTO_INCREMENT,
    # attributes
    term varchar(255) NOT NULL,
    session_type varchar(255) NOT NULL,
    subject_type varchar(255) NOT NULL,
	course_no varchar(4) NOT NULL,
	section_no varchar(2) NOT NULL,
    course_name varchar(255) NOT NULL,
    course_career varchar(255) NOT NULL,
    # references
    staff_id int,
    # foreign key(s)
    FOREIGN KEY(staff_id) REFERENCES faculty(staff_id),
    # primary key
    PRIMARY KEY(course_id)
);
```

In [65]:
cursor.execute("CREATE TABLE courses (course_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(course_id))")

In [66]:
cursor.execute("ALTER TABLE courses ADD term VARCHAR(255) NOT NULL")

In [ ]:
cursor.execute("ALTER TABLE courses ADD session_type VARCHAR(255) NOT NULL")

In [ ]:
cursor.execute("ALTER TABLE courses ADD subject_type VARCHAR(255) NOT NULL")

In [ ]:
cursor.execute("ALTER TABLE courses ADD course_no VARCHAR(4) NOT NULL")

In [73]:
cursor.execute("ALTER TABLE courses ADD section_no VARCHAR(2) NOT NULL")

In [74]:
cursor.execute("ALTER TABLE courses ADD course_name VARCHAR(255) NOT NULL")

In [75]:
cursor.execute("ALTER TABLE courses ADD course_career VARCHAR(255) NOT NULL")

In [76]:
cursor.execute("ALTER TABLE courses ADD staff_id INT")

## Add Foreign Key

In [79]:
cursor.execute("ALTER TABLE courses ADD FOREIGN KEY(staff_id) REFERENCES faculty(staff_id)")

```MySQL
CREATE TABLE staff_profile (
	profile_id int AUTO_INCREMENT,
    # attributes
    biography text NOT NULL,
    degrees text NOT NULL,
    courses_taught text NOT NULL,
    qualification text NOT NULL,
    more_info text DEFAULT NULL,
    # references
    # foreign key(s)
    # primary key
    PRIMARY KEY(profile_id)
);
```

In [80]:
cursor.execute("CREATE TABLE staff_profile (profile_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(profile_id))")

In [81]:
cursor.execute("ALTER TABLE staff_profile ADD biography TEXT NOT NULL")

In [82]:
cursor.execute("ALTER TABLE staff_profile ADD degrees TEXT NOT NULL")

In [83]:
cursor.execute("ALTER TABLE staff_profile ADD courses_taught TEXT NOT NULL")

In [84]:
cursor.execute("ALTER TABLE staff_profile ADD qualifications TEXT NOT NULL")

In [85]:
cursor.execute("ALTER TABLE staff_profile ADD more_info TEXT DEFAULT NULL")

In [86]:
cursor.execute("SHOW COLUMNS FROM staff_profile IN uhd_db_project")

columns = cursor.fetchall()

In [87]:
for column in columns:
    print(column)

('profile_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('biography', b'text', 'NO', '', None, '')
('degrees', b'text', 'NO', '', None, '')
('courses_taught', b'text', 'NO', '', None, '')
('qualifications', b'text', 'NO', '', None, '')
('more_info', b'text', 'YES', '', None, '')

```MySQL
CREATE TABLE staff_info (
	info_id int AUTO_INCREMENT,
    # attributes
	office_no varchar(50) NOT NULL,
    telephone_no varchar(50) NOT NULL,
    email_addr varchar(50) NOT NULL,
    website_link varchar(50) DEFAULT NULL,
    department_char bool NOT NULL,
    # primary key
    PRIMARY KEY(info_id)
);
```

In [ ]:
cursor.execute("CREATE TABLE staff_info (info_id INT NOT NULL AUTO_INCREMENT, PRIMARY KEY(info_id))")

In [96]:
cursor.execute("ALTER TABLE staff_info ADD office_no VARCHAR(50) NOT NULL")

In [97]:
cursor.execute("ALTER TABLE staff_info ADD telephone_no VARCHAR(50) NOT NULL")

In [98]:
cursor.execute("ALTER TABLE staff_info ADD email_addr VARCHAR(50) NOT NULL")

In [99]:
cursor.execute("ALTER TABLE staff_info ADD website_link VARCHAR(50) NOT NULL")

In [100]:
cursor.execute("ALTER TABLE staff_info ADD department_chair BOOL NOT NULL")

In [108]:
cursor.execute("SHOW COLUMNS FROM staff_info IN uhd_db_project")

columns = cursor.fetchall()

In [110]:
for column in columns:
    print(column)

('info_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('office_no', b'varchar(50)', 'NO', '', None, '')
('telephone_no', b'varchar(50)', 'NO', '', None, '')
('email_addr', b'varchar(50)', 'NO', '', None, '')
('website_link', b'varchar(50)', 'NO', '', None, '')
('department_chair', b'tinyint(1)', 'NO', '', None, '')

## Adding Foreign Keys to Faculty Table

In [111]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(info_id) REFERENCES staff_info(info_id)")

In [115]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(profile_id) REFERENCES staff_profile(profile_id)")

In [116]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(department_id) REFERENCES departments(department_id)")

In [117]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(college_id) REFERENCES colleges(college_id)")

ProgrammingError: 1072 (42000): Key column 'college_id' doesn't exist in table

In [118]:
cursor.execute("ALTER TABLE faculty ADD college_id INT")

In [119]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(college_id) REFERENCES colleges(college_id)")

In [120]:
cursor.execute("SHOW COLUMNS FROM faculty IN uhd_db_project")

columns = cursor.fetchall()

In [121]:
for column in columns:
    print(column)

('staff_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('fName', b'varchar(50)', 'NO', '', None, '')
('lName', b'varchar(50)', 'NO', '', None, '')
('info_id', b'int', 'YES', 'MUL', None, '')
('profile_id', b'int', 'YES', 'MUL', None, '')
('department_id', b'int', 'YES', 'MUL', None, '')
('course_id', b'int', 'YES', '', None, '')
('college_id', b'int', 'YES', 'MUL', None, '')

In [123]:
cursor.execute("ALTER TABLE faculty ADD FOREIGN KEY(course_id) REFERENCES courses(course_id)")

In [124]:
def show_columns(table, db):
    template = "SHOW COLUMNS FROM {tbl} IN {database}"
    cursor.execute(template.format(tbl = table, database = db))
    columns = cursor.fetchall()
    
    for column in columns:
        print(column)

In [127]:
table = "faculty"
database = "uhd_db_project"
show_columns(table, database)

('staff_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('fName', b'varchar(50)', 'NO', '', None, '')
('lName', b'varchar(50)', 'NO', '', None, '')
('info_id', b'int', 'YES', 'MUL', None, '')
('profile_id', b'int', 'YES', 'MUL', None, '')
('department_id', b'int', 'YES', 'MUL', None, '')
('course_id', b'int', 'YES', 'MUL', None, '')
('college_id', b'int', 'YES', 'MUL', None, '')